ADMIN_PASSWORD=changeme
SESSION_SECRET=changeme-secret
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/...
PORT=3000
MOTHERDUCK_DATABASE=kernel-analytics-db
MD_SERVICE_ACCOUNT_ACCESS_TOKEN=
SQLITE_PATH=./data/catalogue.db
SYNC_CRON=0 6 * * *
